/* Root variables */
:root {
  --background-color: white;
  --font-color: black;
  --border-color: black;
  --text-color: black;
  --connection-color: black;
  --hilfstext-bg: orange;
  --hilfstext-color: white;
  --table-text-color: #333; // Etwas dunkler als reines Schwarz für den normalen Modus
}

/* Dark mode variables */
.dark-mode {
  --background-color: #101010;
  --font-color: #e0e0e0;
  --border-color: white;
  --text-color: white;
  --connection-color: white;
  --hilfstext-bg: #424242;
  --hilfstext-color: white;
  --table-text-color: #ccc; // Etwas dunkler als reines Schwarz für den normalen Modus
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

/* Node styles */
.node {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas:
    'FAZ . FEZ'
    'ID ID ID'
    'D GP FP'
    'SAZ . SEZ';
  height: fit-content;
}

.ID {
  grid-area: ID;
  border: 1px solid var(--border-color);
  font-size: 95%;
  line-height: 100%;
  text-align: center;
  color: var(--text-color);
}

.FAZ {
  grid-area: FAZ;
  text-align: left;
  line-height: 100%;
}

.FEZ {
  grid-area: FEZ;
  text-align: right;
  vertical-align: text-bottom;
}

.dauer {
  grid-area: D;
  border: 1px solid var(--border-color);
  font-size: 95%;
  text-align: center;
  color: var(--text-color);
}

.GP {
  grid-area: GP;
  border: 1px solid var(--border-color);
  font-size: 95%;
  text-align: center;
  border-color: var(--text-color);
}

.FP {
  grid-area: FP;
  border: 1px solid var(--border-color);
  font-size: 95%;
  text-align: center;
  border-color: var(--text-color);
}

.SAZ {
  grid-area: SAZ;
  text-align: left;
}

.SEZ {
  grid-area: SEZ;
  text-align: right;
}

.FAZ, .FEZ, .SAZ, .SEZ, .GP, .FP {
    color: var(--background-color);
    cursor: pointer;
}

/* Connection styles */
.connection {
  position: absolute;
  background-color: var(--connection-color);
  height: 2px;
}

/* Grid container styles */
#grid-container {
  display: grid;
  grid-template-columns: repeat(1, 50px); /* Temporary value */
  grid-template-row: repeat(1, 50px); /* Temporary value */
  grid-gap: 0px;
}

/* Other styles */
#Legende.node {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 50px;
  height: 100px;
  width: 150px;
  font-size: 28px;
  transform: scale(1); /* Keep the size constant */
  transform-origin: bottom right; /* Prevent the margin from scaling */
}

#Legende div {
  text-align: center;
  color: var(--text-color);
}

#hilfstext {
  visibility: hidden;
  border: 1px solid;
  border-radius: 10px;
  background-color: var(--hilfstext-bg);
  color: var(--hilfstext-color);
  padding: 15px;
  margin-left: 65px ;
  margin-top: 20px;
  z-index: 9999;
  transform: scale(1); /* Keep the size constant */
  transform-origin: top; /* Prevent the margin from scaling */
}

.lines {
  display: grid;
  top: 25%;
  width: 100%;
  height:25%;
  position: relative;
}

.lines .no {
  position: absolute;
  left: 0;
  margin: 0;
  height: 2px;
  background: var(--border-color);
  width: 70.71%;
  top: 50%; /* Position it at the middle vertically */
  transform: rotate(-45deg); /* Shift it up by half its height to center it */
  transform-origin: 0% 0%;
}

.lines .so {
  position: absolute;
  left: 0;
  height: 2px;
  background: blackvar(--connection-color);
  width: 70.71%;
  top: 50%; /* Position it at the middle vertically */
  transform: rotate(45deg); /* Shift it up by half its height to center it */
  transform-origin: 0% 0%;
}

.lines .o {
  left: 0;
  position: absolute;
  height: 3px;
  background: var(--connection-color);
  width: 50%;
  top: 50%; /* Position it at the middle vertically */
}


.lines .nw {
  position: absolute;
  right: 0;
  height: 2px;
  background: var(--connection-color);
  width: 70.71%;
  top: 50%; /* Position it at the middle vertically */
  transform: rotate(45deg); /* Shift it up by half its height to center it */
  transform-origin: 100% 0%;
}

.lines .sw {
  position: absolute;
  right: 0;
  height: 2px;
  background: var(--connection-color);
  width: 70.71%;
  top: 50%; /* Position it at the middle vertically */
  transform: rotate(-45deg); /* Shift it up by half its height to center it */
  transform-origin: 100% 0%;
}

.lines .w {
  right: 0;
  position: absolute;
  height: 3px;
  background: var(--connection-color);
  width: 50%;
  top: 50%; /* Position it at the middle vertically */
}


.lines .n {
  top:50%;
  left: 0%;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--connection-color);
  transform: rotate(90deg); /* Shift it up by half its height to center it */
  transform-origin: 50% 50%;
}


.lines .s {
  top:50%;
  right: 0%;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  transform: rotate(90deg); /* Shift it up by half its height to center it */
  transform-origin: 50% 50%;
}

.hlines {
    display: grid;
    top: 0%;
    width: 100%;
    height:100%;
    position: relative;
}

.hlines-end {
    display: grid;
    top: 0%;
    left: 0%;
    width: 50%;
    height:100%;
    position: relative;
}

.hlines-start {
    display: grid;
    top: 0%;
    left: 50%;
    width: 50%;
    height:100%;
    position: relative;
}


.hlines .wt {
    top: -10px;
    left: 2%;
    position: absolute;
    height: 3px;
    background: var(--connection-color);
    width: 100%;
}

.hlines .wc {
    top: 37%;
    left: 0;
    position: absolute;
    height: 3px;
    background: var(--connection-color);
    width: 100%;
}


.hlines .ob {
    bottom: 10px;
    position: absolute;
    height: 3px;
    background: var(--connection-color);
    width: 100%;
}

.hlines-start .wt {
    top: -10px;
    left: 2%;
    position: absolute;
    height: 3px;
    background: var(--connection-color);
    width: 100%;
}


.hlines-start .ob {
    bottom: 10px;
    position: absolute;
    height: 3px;
    background: var(--connection-color);
    width: 100%;
}

.hlines-end .wt {
    top: -10px;
    left: 2%;
    position: absolute;
    height: 3px;
    background: var(--connection-color);
    width: 100%;
}

.hlines-end .wb {
    top: 50%;
    left: 2%;
    position: absolute;
    height: 3px;
    background: var(--connection-color);
    width: 100%;
}


.hlines-end .ob {
    bottom: 10px;
    position: absolute;
    height: 3px;
    background: var(--connection-color);
    width: 100%;
}

/* Allgemeine Tabelle Styles */
table {
  width: 50%; /* Nutzt die gesamte Breite des Containers */
  border-collapse: collapse; /* Entfernt doppelte Ränder zwischen den Zellen */
  margin-top: 20px; /* Ein bisschen Abstand nach oben */
  font-family: Arial, sans-serif; /* Eine moderne Schriftart */
}

thead {
  background-color: var(--border-color); /* Ein dunkler Hintergrund für den Tabellenkopf */
}

th, td {
  border: 1px solid var(--border-color); /* Ein Rand um jede Zelle */
  padding: 8px 12px; /* Etwas Polsterung in den Zellen für bessere Lesbarkeit */
  text-align: left; /* Linksbündige Textausrichtung */
  color: var(--table-text-color); // Verwenden Sie die variable für die Textfarbe
}

th {
  color: var(--background-color); /* Weißer Text auf dunklem Hintergrund für den Kopf */
  font-weight: bold; /* Fettgedruckter Text im Tabellenkopf */
}

tbody tr:nth-child(even) td {
    background-color: var(--border-color); /* Ein zebraartiger Effekt für eine bessere Lesbarkeit */
    color: var(--background-color); /* Weißer Text auf dunklem Hintergrund für den Kopf */
}


/* Kritischer Pfad */
p {
  margin-top: 20px; /* Ein bisschen Abstand nach der Tabelle */
  color: var(--text-color);
}

/* Dark Mode Switch styles */
#darkMode {
    position: fixed; /* To position it relative to the nearest positioned ancestor or the viewport */
    top: 10px; /* 10 pixels from the top */
    right: 10px; /* 10 pixels from the right */
    display: flex; /* Use Flexbox for positioning the child elements */
    align-items: center; /* Vertically align the middle */
    gap: 10px; /* Gap between the switch and the label */
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    display: none; /* Hide the default checkbox */
}

/* Slider styles */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border: 1px solid var(--border-color);
    cursor: pointer;
    background: linear-gradient(45deg, white 50%, black 50%); /* Diagonal gradient: half white, half black */
}

.slider.round {
    border-radius: 25px;
    color: var(--background-color);
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: var(--background-color);
    transition: .4s;
    border-radius: 50%;
}

/* When the checkbox is checked, move the circle to the right */
.switch input:checked + .slider:before {
    transform: translateX(24px);
}
